@page "/producto"
@rendermode InteractiveServer

@inject Services.ProductoService productoService


<PageTitle>Producto</PageTitle>

<h1>Producto</h1>

<button onclick="@GetProductos">BOTONSITO</button>


@code {
    private int currentCount = 0;

    private void GetProductos()
    {
        var lista = productoService.Index();
    }
}
